.update-button-return {
    margin-top:  10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.update-card-wrapper {
    padding: 40px;
    margin: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}