@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-image {
    width: 150px;
    margin: 10px 40px;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-link {
  text-decoration: none;
  color: white;
}

button {
  background-color: rgb(0, 68, 68);
  font-family: inherit;
  font-size: 1em;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button {
  margin-right: 40px;
  border: 1px solid white;
}

button:not(:disabled):hover {
  background-color: teal;
}

.auth-wrapper {
  width: 500px;
  margin: 40px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.auth-field {
  padding: 10px;
}

.auth-button {
  width: 100px;
}

.auth-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-slider {
  width: 400px;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.main-slider-img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.today-button {
  margin-top:  40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.one-card-wrapper {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.one-card-wrapper button {
  padding: 5px;
  width: 100%;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-wrapper {
  width: 400px;
  max-height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-color: rgb(214, 214, 214);
  color: rgb(214, 214, 214);
}

.catch-phrase {
  color: rgb(0, 68, 68);
}

.real-name {
  background-color: #333;
  color: white;
  width: 100%;
}

.super-powers {
  background-color: #333;
  color: white;
  width: 100%;
}

.ul-powers {
  width: 250px;
  height: 100px;
  overflow-y: auto;
}

.ul-powers li:nth-child(even) {
  color: #575555;
}

.card-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.card-slider {
  width: 380px;
}

.card-slider-img {
  width: 380px;
  height: 200px;
  object-fit: cover;
}

.add-hero-wrapper {
  background-color: #333;
  padding: 10px;
}

.add-hero-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px; 
}

.add-hero-form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  max-width: 500px;
  max-height: 275px;
  overflow-y: auto;
  text-align: start;
}

.add-hero-main-info {
  background-color: rgb(252, 252, 139);
}

.add-hero-powers {
  background-color: rgb(148, 252, 139);
}

.add-hero-powers-select {
  min-height: 95px;
  overflow-y: auto;
}

.add-hero-predictions {
  background-color: rgb(139, 239, 252);
}

.add-hero-more-images {
  background-color: rgb(211, 139, 252);
}

.add-hero-ul {

}

.add-hero-ul button {
  min-width: 80px;
  padding: 2px;
  margin-left: 10px;
}

.add-hero-ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
  font-size: 0.8em;
  margin-bottom: 5px;
}
.add-hero-ul li:nth-child(even) {
  color: #575555;
}

.add-hero-form input {
  padding: 5px;
}

.error-wrapper {
  background-color: red;
  color: whitesmoke;
  grid-row: span 2;
}

.modal-close-btn {
  margin: 5px 0;
}